# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
myvenv/
migrations/
Trends_jp.csv
Trends_kr.csv
Trends_uk.csv
Trends_US.csv
Trends_jptest.csv
Trends_krtest.csv
Trends_uktest.csv
Trends_ustest.csv