
p{
    font-size: 45px;
    margin-top: 20px !important;
    color: white;
}
table {
background:#191F2C;
border-style: solid;
border-color: #464A54;
border-radius: 2.5%;
border-collapse: inherit !important;
border-width: 1px;
}

body{
    background-color:  #283250;
}
tr{
    color: white;
}
.container{
    width: 50% !important;
}
/* .icon{
    text-align: right;
    margin: 3px;
} */

.icons{
    display: flex;
    justify-content: flex-end;
}
.icon{
    margin: 0 10px;
}
tbody, thead{
    text-align: center;
}

.topicelements{
    padding-left: 12% !important;
}

.topics{
    padding-left: 12% !important;
}
span{color: #f04640;}