{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>


<body>
    <!-- HTML -->
    




    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div id="slide1" class="swiper-slide">
                <a href="trend/kr">
                    <p>한국 1위: {{krtop}}</p>
                </a>
            </div>
            <div id="slide2" class="swiper-slide">
                <a href="trend/us">
                    <p>미국 1위: {{ustop}}</p>
                </a>
            </div>
            <div id="slide3" class="swiper-slide">
                <a href="trend/jp">
                    <p>일본 1위: {{jptop}}</p>
                </a>
            </div>
            <div id="slide4" class="swiper-slide">
                <a href="trend/uk">
                    <p>영국 1위: {{uktop}}</p>
                </a>
            </div>
        </div>
    </div>
    <div id="chartdiv"></div>

    <!-- amcharts -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/dataviz.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script>
        am4core.ready(function () {
            // Themes begin
            am4core.useTheme(am4themes_dataviz);
            am4core.useTheme(am4themes_animated);
            // Themes end

            /* Create map instance */
            var chart = am4core.create("chartdiv", am4maps.MapChart);

            /* Set map definition */
            chart.geodata = am4geodata_worldLow;

            /* Set projection */
            chart.projection = new am4maps.projections.Miller();

            /* Create map polygon series */
            var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

            /* Make map load polygon (like country names) data from GeoJSON */
            polygonSeries.useGeodata = true;

            /* Configure series */
            var polygonTemplate = polygonSeries.mapPolygons.template;
            polygonTemplate.applyOnClones = true;
            polygonTemplate.togglable = true;
            polygonTemplate.tooltipText = "{name}";
            polygonTemplate.nonScalingStroke = true;
            polygonTemplate.strokeOpacity = 0.5;
            polygonTemplate.fill = chart.colors.getIndex(0);

            // Create image series
            var imageSeries = chart.series.push(new am4maps.MapImageSeries());

            // Create image
            var imageSeriesTemplate = imageSeries.mapImages.template;
            var marker = imageSeriesTemplate.createChild(am4core.Image);
            marker.href = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-160/marker.svg";
            marker.width = 40;
            marker.height = 40;
            marker.nonScaling = true;
            marker.tooltipText = "{title}";
            marker.horizontalCenter = "middle";
            marker.verticalCenter = "bottom";

            // Set property fields
            imageSeriesTemplate.propertyFields.latitude = "latitude";
            imageSeriesTemplate.propertyFields.longitude = "longitude";

            // Add data for the three cities
            imageSeries.data = [{
                "latitude": 55.3781,
                "longitude": -2.4333,
                "title": "United Kingdom"
            }, {
                "latitude": 40.791000,
                "longitude": -100.148003,
                "title": "United States"
            }, {
                "latitude": 36.2048,
                "longitude": 138.2529,
                "title": "Japan"
            }, {
                "latitude": 37.5665,
                "longitude": 126.9780,
                "title": "South Korea"
            }];


            var lastSelected;
            polygonTemplate.events.on("hit", function (ev) {
                if (lastSelected) {
                    // This line serves multiple purposes:
                    // 1. Clicking a country twice actually de-activates, the line below
                    //    de-activates it in advance, so the toggle then re-activates, making it
                    //    appear as if it was never de-activated to begin with.
                    // 2. Previously activated countries should be de-activated.
                    lastSelected.isActive = false;
                }
                ev.target.series.chart.zoomToMapObject(ev.target);
                if (lastSelected !== ev.target) {
                    lastSelected = ev.target;
                }

                console.log(ev.target.dataItem.dataContext.name); //나라 이름
                if (ev.target.dataItem.dataContext.name === "South Korea") {
                    location.href = "{% url 'trend_all' 'kr' %}";
                } else if (ev.target.dataItem.dataContext.name === "Japan") {
                    location.href = "{% url 'trend_all' 'jp' %}";
                } else if (ev.target.dataItem.dataContext.name === "United Kingdom") {
                    location.href = "{% url 'trend_all' 'uk' %}";
                } else if (ev.target.dataItem.dataContext.name === "United States") {
                    location.href = "{% url 'trend_all' 'us' %}";
                }
            });

            /* Create selected and hover states and set alternative fill color */
            var ss = polygonTemplate.states.create("active");
            ss.properties.fill = chart.colors.getIndex(2);

            var hs = polygonTemplate.states.create("hover");
            hs.properties.fill = chart.colors.getIndex(4);

            console.log(polygonTemplate.map.getKey("id-1056"));

            // Hide Antarctica
            polygonSeries.exclude = ["AQ"];

            // // Small map
            // chart.smallMap = new am4maps.SmallMap();
            // // Re-position to top right (it defaults to bottom left)
            // chart.smallMap.align = "right";
            // chart.smallMap.valign = "top";
            // chart.smallMap.series.push(polygonSeries);

            // // Zoom control
            // chart.zoomControl = new am4maps.ZoomControl();
            var homeButton = new am4core.Button();
            homeButton.events.on("hit", function () {
                chart.goHome();
            });

            homeButton.icon = new am4core.Sprite();
            homeButton.padding(7, 5, 7, 5);
            homeButton.width = 30;
            homeButton.icon.path =
                "M16,8 L14,8 L14,16 L10,16 L10,10 L6,10 L6,16 L2,16 L2,8 L0,8 L8,0 L16,8 Z M16,8";
            homeButton.marginBottom = 10;
            // homeButton.parent = chart.zoomControl;
            // homeButton.insertBefore(chart.zoomControl.plusButton);
        }); // end am4core.ready()


    </script>

    <!-- Swiper Plugin -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper-container', {
            direction: 'vertical',
            spaceBetween: 30,
            effect: 'fade',
            fadeEffect: {
                crossFade: true
            },
            autoplay: {
                delay: 3000,
            },
        })
    </script>
</body>

</html>