<div class="container">
    <h2 class="text-center"><p>Trends in South Africa</p></h2><br>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Topic</th>
            </tr>
        </thead>
        <tbody>
            <!-- jinja2 Technique -->
            {% if d %}
            {% for i in d %}
            <tr>
                <td>{{i.index}}</td>
                <td>{{i.0}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>